@import 'variablesAndMixins';

html {
  font-family: $nikeFont2;
}

body {
  margin: 0;
}

p {
  font-size: 12px;
  line-height: 1;
}

h2 {
@include h2;
}

h4 {
  @include h4;
}

h6 {
  @include h6;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.header {
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: 140px;
  @include header;
  background-color: $nikeWhite;
  .topHeader{
    height: 40px;
    justify-content: space-between;
    align-items: center;
  }
  .bottomHeader {
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid $nikeGrey;
    border-bottom: 1px solid $nikeGrey;
    height: 60px;
    position: relative;
    img {
      display: block;
      padding: 13px;
      width: 50%;
    }
  }
}

.headerLogos {
  width: 30%;
  position: relative;
  align-items: center;
  .headerLogoDiv {
    border-right: 1px solid $nikeGrey;
    padding: 8px;
    img {
      display: block;
      width: 100%;
    }
  }
}

.headertext {
  align-items: center;
  .headerTextItem {
    padding: 5px;
    i {
      font-size: 11px;
    }
    img {
      width: 70%;
    }
  }
}

input {
  margin-left: 10px;
  margin-right: 15px;
  padding: 8px 5px;
  width: 150px;
  border: 1px solid darken($nikeGrey, 10%);
  border-radius: 3px;
}

.bannerDiv {
  position: relative;
  width: 100%;
  img {
    width: 100%;
  }
}

.featuredContent {
  max-width: 1080px;
  margin: 200px auto 100px auto;
  .featuredText {
    width: 456px;
    margin-right: 15px;
    position: relative;
    .categoryPriceLine {
      justify-content: space-between;
    }
  }
  .featuredRow {
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    .imageWrap {
      position: relative;
      width: 45%;
      padding-bottom: 10px;
      padding-right: 10px;
      // padding: 0 5px;
      img {
        display: block;
        width: 100%;
      }
    }
  }
}

.sideDisplay {
  width: 50%;
  position: relative;
  .sideImageWrap {
    width: 100%;
    padding: 40px 10px 30px 0;
    img {
      width: 100%;
    }
  }
}

.selectSizeBlurb {
  justify-content: space-between;
  p {
    font-size: 15px;
  }
}

.selectSizeTool {
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
  .size {
    width: 18%;
    height: width;
    border: 1px solid $nikeGrey;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 5px;
  }
  .disableSize {
    background: lighten($nikeGrey, 3%);
    color: darken($nikeGrey, 15%);
  }
  // .last {
  // justify-content: flex-start;
  // }
}

.addToCartSection {
  position: relative;
  width: 100%;
  .addCart{
    width: 82%;
    button {
      background-color: black;
      color: white;
      width: 100%;
      border-radius: none;
      border-radius: 2px;
      padding: 10px 3px;
    }
  }
  .addIcon {
    position: relative;
    width: 18%;
    background-color: black;
    color: white;
    border: none;
    border-radius: 2px;
    text-align: center;
    align-self: center;
    margin-left: 2px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.smallFeatureHeadText {
  width: 1000px;
  margin: 20px auto;
  text-align: center;
}

.smallFeatureContent {
  position: relative;
  width: 1000px;
  margin: 0 auto;
  .smallDisplay {
    position: relative;
    width: 25%;
    padding-right: 25px;
    .smallimageWrap {
      position: relative;
      width: 100%;
      }
    img {
      display: block;
      width: 100%;
      padding-bottom: 10px;
    }
  }
}

// @media screen and (max-width: 1080px) {
//   // .logo {
//   //   background: url("../img/logo-mobile.gif") no-repeat;
//   //   background-position: left center;
//   //   width: 10%;
//   // }
//   .mainContent {
//     max-width: 1000;
//   }
// }
